body {
  background-image: linear-gradient(111.4deg, rgba(7,7,9,1) 6.5%, rgba(27,24,113,1) 93.2%);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  width: 100%;
  margin: 50px auto;
  text-align: center;
  align-content: center;
}

.titulo {
  color: white;
}

label {
  display: block; 
  margin-bottom: 5px;
}

input {
  border: 1px solid #2f2f2f;
  border-radius: 7px !important;
  background-color: #000000;
  width: 100%; 
  box-sizing: border-box; 
  color: #fff;
}

#insert-section {
  background-color: #1a1a1a;
  border: 1px solid #2f2f2f;
  border-top: 4px solid #1e51b8;
  border-radius: 10px;
  box-shadow: 1px 1px 40px 1px #000000;
  padding: 20px 10px;
  text-align: start;
  align-content: center;
  margin: 0 auto;
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 20px; 
  color: #fff;
  transition: 0.3s;
}

#insert-section:hover{
  transform: translateY(-5px);
}

#insert-section div {
  display: flex;
  flex-direction: column; 
  gap: 5px; 
}

label {
  display: block;
  margin-bottom: 0; 
}

input {
  border: 1px solid #2f2f2f;
  border-radius: 3px;
  background-color: #161616;
  width: 100%;
  box-sizing: border-box;
  padding: 8px; 
}

.add-btn {
  width: 17vh;
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  border: 1px solid transparent;
  border-radius: 7px;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  color: rgb(255, 255, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  transition: 0.3s;
  
}

.add-btn:hover{
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 0 0px 15px 0 rgba(65, 132, 234, 0.75) ;
}

.bg-search-table{
  margin-left: 16%;
  background-color: #1a1a1a;
  box-shadow: 1px 1px 40px 1px #000000;
  width: 150vh;
  border: 1px solid #2f2f2f;
  border-top: 4px solid #1e51b8;
  border-radius: 10px;
  padding: 10px;
  transition: 0.3s;
}

.bg-search-table:hover{
  transform: translateY(-5px);
}

.header-table{
  display: flex;
  flex-direction: row;
  align-items: center;  
  gap: 240px;
}

.search-input{
  width: 100vh;
  padding: 12px;
}

.search-btn{
  width: 17vh;
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  border: 1px solid transparent;
  border-radius: 7px;
  padding: 9px;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  transition: 0.3s;
}

.search-btn:hover{
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 0 0px 15px 0 rgba(65, 132, 234, 0.75) ;
}

table {
  width: 100%;
  table-layout: fixed; 
  background-color: #fff;
  color: black;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
 
  padding: 10px;
  text-align: left;
  width: 1fr; 
  box-sizing: border-box; 
  overflow: hidden;
  text-overflow: ellipsis;
}

th {
  color: white;
  background-color: #181b66;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
 backdrop-filter: blur(30px);
}

.modal-content {
  background-color: #1a1a1a;
  color: white;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #2f2f2f;
  border-top: 4px solid #1e51b8;
  border-radius: 10px;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.update-form{
  display: flex;
  flex-direction: column;
}

.button-container{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn-fechar{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: medium;
  width: 15vh;
  padding: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: white;
  background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  
  border: 1px solid transparent;
  border-radius: 7px;
  transition: 0.3s;
}

.btn-fechar:hover{
  box-shadow: 0 0px 15px rgba(242, 97, 103, .4);
}

.btn-atualizar{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: medium;
  width: 15vh;
  padding: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: white;
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  border: 1px solid transparent;
  border-radius: 7px;
  transition: 0.3s;
}

.btn-atualizar:hover{
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 0 0px 15px 0 rgba(65, 132, 234, 0.75) ;
}

